.date {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;

  display: flex;
  gap: 10px;
  max-width: 120px;
  align-items: center;
}

.day, .number  {
  color: grey;
}

@media (max-width: 480px) {
  .date {
    font-size: 14px;
  }
}
